<a href="https://colab.research.google.com/github/jenniferarzu/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Homework 1***

1) Reading in the 311 dataset and saving it as "df". Remember there are packages need to import in order for this to work.

In [7]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [8]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1) Answer these two questions about the data, showing your code that produced the result in two individual code cells:

*   What is the minimum value in the "Created Date" column?
*   What is the maximum value in the "Created Date" column?

In [10]:
df[['Created Date']].min() #minimum value in Created Date column

Created Date    01/01/2019 01:00:00 PM
dtype: object

In [12]:
df.head(2) #The actual real minimum value/lowest date value in the Created Date column is 08/01/2018 at 1:52:46 AM.

   Unique Key  ...                                Location
0    39888071  ...  (40.79333937834769, -73.9429417746998)
1    39889166  ...  (40.82012422332215, -73.9530712339799)

[2 rows x 41 columns]

In [11]:
df[['Created Date']].max()

Created Date    12/31/2018 12:59:41 PM
dtype: object

In [13]:
df.tail(2) #The actual maximum value/highest date value in the Created Date column is 08/24/2019 at 2:00:56 AM.

         Unique Key  ...                                 Location
2859198    43622055  ...                                      NaN
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[2 rows x 41 columns]

3) Create a text cell where you will briefly discuss the min and max results: does anything about the resulting min and max values surprise you? What do think causes this?

Answer: 

The minimum value in the Created Date column according to the minimum function is 01/01/2019 at 01:00:00 PM while the maximum value according to the maximum function is 12/31/2018 12:59:41 PM. I am surprised that the minimum value is more recent than the maximum value. These results appear not to be valid because once we use the df.head() we see that the actual minimum value/oldest  is 08/01/2018 at 1:52:46 AM while the maximum value/most recent date value in the Created Date column is 08/24/2019 at 2:00:56 AM based on df.tail() 

Thus the minimum and maximum functions do not seen adequate with dates since I believe it probably treats the dates as integers and bases the output for the minimum and maximum from the dates in integer format and not the date format. As a result, we get the incorrect minimum and maximum values for the Created Date.

4) Question you have from doing the tutorials.

I have two questions from the tutorials:
1.   The first one involves content/terminology. One of the tutorials mentioned that one particular code would return a dataframe object while another code would return a series object. I am slightly confused on the differences. Do dataframes differ from series object just on the structure/format of output or are there other differences? 
2.   The second one is on a code I had some difficulties on running during the tutorial. Whenever I tried to index for dictionary keys I got an error message, which said "'dict_keys' object does not support indexing'". Is there an alternative way to index keys in Python3? I tried looking it up but was confused on language/notation. Also, is there a way of finding out what are the differences in coding between Python 2 and Python 3 or is it more trial/error?

# **Tutorial Notes**

***I. Python Basics: Lists, Dictionaries, & Booleans***

In [0]:
a=6
b=2 ##Each input block is referred to as a cell.

In [0]:
print (a/b) ##After declaring that "a" is 6 and "b" is 2, we should be able to divide "a" by "b" and get 3

3.0

In [0]:
'this is a string'

'this is a string'

In [0]:
first_string = 'hello from google colab' 
##So that you can reference this string later, you should give it a variable name, “first_string”. 
##Note that the variable name in the example below is entire lowercase—this is a convention in Python. 
##We use underscores because Python assumes that a space ends the variable name

In [0]:
print (first_string) 
##You'll notice that this did not generate an output cell. That's because you didn't issue an explicit instruction to do so—all you did was assign the first_string variable. In order to see that the variable was stored, you can print the name. 
##Get used to this—you'll use it often to confirm that the contents of variables match your expectations.

hello from google colab

In [0]:
first_string
##You can also run the variable name to see its raw value as output

'hello from google colab'

In [0]:
print ("one bacon double cheeseburger")
##Finally, you can use either double quotes or single quotes to define a string

one bacon double cheeseburger

**Lists**

In [0]:
cities = ['Tokyo','Los Angeles','New York','San Francisco']
##A list is exactly what it sound like. Lists can contain any kind of objects, as long as 
##they're between square brackets. That's right—a list is both an object AND a container of other objects. 
##This might be confusing at first, but you'll come to learn that it's very convenient to be able to treat 
##one item in a list similarly to how you might treat the list itself.In lists: the order stays the same, 
##you can get an item by referring to its position in the list, a number called the index

In [0]:
print (cities) # see the specific list object this variable refers to

['Tokyo', 'Los Angeles', 'New York', 'San Francisco']

In [0]:
cities[1]
##To get an item in the list, you'll use the position in the list, the index, of the item inside square brackets. 
##In Python, as in many languages, lists are zero-indexed, meaning the first item has an index of 0, the second 
##item has an index of 1, and so forth.
##Since the list is zero-indexed, 'Los Angeles' has an index of 1, even though it’s the second item in the list.

'Los Angeles'

In [0]:
cities[0]
##using an index of 0 should output 'Tokyo'

'Tokyo'

In [0]:
cities[2]
##Practice Problem: get the 3rd city in list of cities

'New York'

**Dictionaries**

In [0]:
city_population = {
    'Tokyo': 13350000, # a key-value pair
    'Los Angeles': 18550000,
    'New York City': 8400000,
    'San Francisco': 1837442,
}

##Dictionaries are also what they sound like - a list of definitions that correspond to unique terms.
##Dictionaries are unordered
##Dictionary values are accessed by keys
##Keys and values are to a dictionary what words and their definitions are 
##to an English dictionary. Each entry in a dictionary is called a key-value pair.
##To create a dictionary, use curly braces.

In [0]:
city_population 
##a different order than we defined when we created it - ordered alphabetically by key
##Note that numbers do not have quotation marks around them.

{'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

In [0]:
city_population['New York City']
##if you want to know the population of New York, similarly to a list, you can use 
##brackets to access the value, but this time with the key (instead of the index)

8400000

In [0]:
city_population['Tokyo']
##Practice Problem Get population of Tokyo

13350000

**Changing values and combining objects**

In [0]:
city_population['San Francisco'] = 837442
city_population # change made!
##Say you wanted to change the population numbers for San Francisco, because 
##it turns out 837,442 people live there, not 1,837,442 (Maybe San Francisco 
##actually belongs in a different dictionary called "villages").
##You can name the index of the item you want to change, using = to set the 
##new population value

{'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 837442,
 'Tokyo': 13350000}

In [0]:
city_population['Mumbai'] = 11980000
city_population
##In dictionaries, keys are unique. This means that there can only be one "San Francisco" in 
##the city_population dictionary, just as there can only be one Supercalifragilisticexpialidocious 
##entry in the English dictionary.
##Let's add another big city to the dictionary. To do this, you'll need to assign a 
##value to a key that doesn't yet exist

{'Los Angeles': 18550000,
 'Mumbai': 11980000,
 'New York City': 8400000,
 'San Francisco': 837442,
 'Tokyo': 13350000}

In [0]:
municipalities = {
    'New York City': [
        'Manhattan',
        'The Bronx',
        'Brooklyn',
        'Queens',
        'Staten Island'
    ],
    'Tokyo': [
        'Akihabara',
        'Harajuku',
        'Shimokitazawa',
        'Nakameguro',
        'Shibuya',
        'Ebisu/Daikanyama',
        'Shibuya District',
        'Aoyama',
        'Asakusa/Ueno',
        'Bunkyo District',
        'Ginza',
        'Ikebukuro',
        'Koto District',
        'Meguro District',
        'Minato District',
        'Roppongi',
        'Shinagawa District',
        'Shinjuku',
        'Shinjuku District',
        'Sumida District',
        'Tsukiji',
        'Tsukishima']
}

##Python is very friendly to combining objects, such as creating a dictionary of lists. For example, if you wanted to list the municipalities of two cities, you could create this dictionary:
##municipalities dictionary (inside {}):
##key: string of city name (inside '')
##value: list of municipalities (inside [])
##list items: strings, each a single municipality (inside '')

In [0]:
municipalities['Tokyo']
##retrieving municipalities in Tokyo to better understand how structure works

['Akihabara',
 'Harajuku',
 'Shimokitazawa',
 'Nakameguro',
 'Shibuya',
 'Ebisu/Daikanyama',
 'Shibuya District',
 'Aoyama',
 'Asakusa/Ueno',
 'Bunkyo District',
 'Ginza',
 'Ikebukuro',
 'Koto District',
 'Meguro District',
 'Minato District',
 'Roppongi',
 'Shinagawa District',
 'Shinjuku',
 'Shinjuku District',
 'Sumida District',
 'Tsukiji',
 'Tsukishima']

In [0]:
municipalities['Tokyo'][3]
##to get a single municipality, you would enter the dictionary variable name and 
##the list index. If you wanted to show Tokyo’s Nakameguro municipality (which is the 
##fourth value in the list), you would write the following (remember that python is zero-indexed)

'Nakameguro'

In [0]:
municipalities['New York City'][3]
##Practice Problem: What is the fourth listed municipality (okay, borough) in New York City?

'Queens'

In [0]:
type(True)
##Just as some values are stored as the string data type, some values can be stored as
##the boolean data type. More specifically, booleans have two possible values: True or False. 
##This will come in handy when filtering data in later lessons.
##type() can be used to check the data type (string, boolean, etc.—you will learn more of these later) 
##of an object. Let's check the object type of the value True

bool

In [0]:
type(municipalities['Tokyo'])
##As a point of comparison, you can see that the set of municipalities of Tokyo in the above example is stored as a list

list

In [0]:
city_population['Tokyo'] == 13350000
##Until now, you've been using the equal sign to set values. But it is also used in Python to compare equality. 
##The double equals sign "==" is used to check whether the values to the right and left are equal to one another.
##For example, is the population of Tokyo equal to 13,350,000? You can use this statement to evaluate the equality (resulting in a boolean)

True

In [0]:
city_population['Tokyo'] == 50000
##two equal signs will test for equality, but one equal sign will assign a variable. 
##If you removed one of the equal signs, you would change the value of Tokyo's 
##population in the dictionary (just as you did above with San Francisco)!

False

***II. Python Methods, Functions, & Libraries***

**Methods**

In [0]:
city_population = {
  'Tokyo': 13350000, # a key-value pair
  'Los Angeles': 18550000,
  'New York City': 8400000,
  'San Francisco': 1837442,
}

In [0]:
city_population.keys()
##Say you want to see all the keys in the dictionary (in this case, cities). You can use a method 
##called .keys() to get a list of the dictionary's keys. A method is an action that you can take 
##on an object. If a real-world window was an object, its methods might be .open() or .close().
##In this case, the object is the dictionary, and the action is to return the .keys()

dict_keys(['Tokyo', 'Los Angeles', 'New York City', 'San Francisco'])

In [0]:
print(city_population)

{'Tokyo': 13350000, 'Los Angeles': 18550000, 'New York City': 8400000, 'San Francisco': 1837442}

In [0]:
type(city_population.keys())
##Remember how everything in Python is an object? That output is a list object! 
##You can double-check this using type()

dict_keys

In [0]:
city_population.keys()[2]

TypeError: ignored

In [0]:
list(city_population.keys())[2]
##you can get the third item in the list of keys by referencing its index

'New York City'

In [0]:
city_population.values()

dict_values([13350000, 18550000, 8400000, 1837442])

In [0]:
city_population['Los Angeles']
##get the population of Los Angeles

18550000

In [0]:
municipalities = {
    'New York City': [
        'Manhattan',
        'The Bronx',
        'Brooklyn',
        'Queens',
        'Staten Island'
    ],
    'Tokyo': [
        'Akihabara',
        'Harajuku',
        'Shimokitazawa',
        'Nakameguro',
        'Shibuya',
        'Ebisu/Daikanyama',
        'Shibuya District',
        'Aoyama',
        'Asakusa/Ueno',
        'Bunkyo District',
        'Ginza',
        'Ikebukuro',
        'Koto District',
        'Meguro District',
        'Minato District',
        'Roppongi',
        'Shinagawa District',
        'Shinjuku',
        'Shinjuku District',
        'Sumida District',
        'Tsukiji',
        'Tsukishima']
}

##You can use methods on combined objects as well. In the last lesson, you created a dictionary of lists 
##by nesting individual lists of cities and their municipalities in a dictionary object.

In [0]:
municipalities['Tokyo'][3]
##As a reminder, to get a single municipality, you would enter 
##the dictionary’s variable name—municipalities—and the list index

'Nakameguro'

In [0]:
municipalities.keys()
##he keys of the dictionary

dict_keys(['New York City', 'Tokyo'])

In [0]:
municipalities.values()
##values associated with the keys in that dictionary 
##Remember that lists are denoted with square brackets? Notice that there are three sets of [] in the output.
##That’s because the .values() output is a list containing New York’s municipalities and Tokyo’s municipalities, 
##both of which are lists, as well.In other words, municipalities.values() is a list containing two lists

dict_values([['Manhattan', 'The Bronx', 'Brooklyn', 'Queens', 'Staten Island'], ['Akihabara', 'Harajuku', 'Shimokitazawa', 'Nakameguro', 'Shibuya', 'Ebisu/Daikanyama', 'Shibuya District', 'Aoyama', 'Asakusa/Ueno', 'Bunkyo District', 'Ginza', 'Ikebukuro', 'Koto District', 'Meguro District', 'Minato District', 'Roppongi', 'Shinagawa District', 'Shinjuku', 'Shinjuku District', 'Sumida District', 'Tsukiji', 'Tsukishima']])

In [0]:
print (type(municipalities))
print (type(municipalities['Tokyo']))
print (type(municipalities['Tokyo'][0]))

##functions. They're very similar to methods in that they perform an action, but unlike methods, 
##functions are not tied to specific objects. 
##You've already used a function—type()—several times in this tutorial. It can be used on any object. 
##Try it out here using different items within the municipalities object

##In the output above, 'dict' stands for dictionary, 'list' stands for list, and 'str' stands 
##for string. In other words, municipalities is a dictionary, municipalities['Tokyo'] is a list,
##and municipalities['Tokyo'][0] is a string.

<class 'dict'>
<class 'list'>
<class 'str'>

In [0]:
type(municipalities)
type(municipalities['Tokyo'])
type(municipalities['Tokyo'][0])

##You may have noticed that we used the print function for every line of code 
##(yes, print is a function! It can also be written as print("object")). 
##If you want more than one line to print output, you need to insert print at the beginning 
##of each line. This is because, by default, Python will only print the output associated 
##with your last line of code in the cell. You can see this in action by removing the print 
##part of the statements above

str

In [0]:
print (type(city_population['New York City'][0]))

##What type are the values of city_population?

TypeError: ignored

In [0]:
type(city_population.values()[0])

TypeError: ignored

In [0]:
city_population.values()
city_population.values()[0]
type(city_population.values()[0])
##You should also take a minute to understand how Python is evaluating the second answer. 
##Everything is executed from the inside out, similar to the order of operations in math 
##(remember PEMDAS?). Here's the order in which Python runs the above line of code:

dict_values([13350000, 18550000, 8400000, 1837442])

In [0]:
len(municipalities['Tokyo'])
##It looks like Tokyo has a large number of administrative districts. How many exactly?
##The len() function will describe how long an object is

22

In [0]:
print (municipalities['Tokyo'][2])
len(municipalities['Tokyo'][2])
##len() returns something different depending on the type of object for which you're getting 
##the length. For a list, it returns the number of items in the list, as demonstrated above.
##For a string, len() returns the number of characters in the string (including spaces)

Shimokitazawa

13

In [0]:
len(municipalities)
##What is the "length" of municipalities? What does that mean?
##The "length" of the dictionary is the number of key-value pairs 
##that are stored in the dictionary. In this case, the length is 2

2

***Libraries***

**A library is a bundle of code made to help you accomplish routine tasks more quickly. Seaborn, for example, allows you to create visualizations with as little as one line of code. Without such a library, you'd have to write a ton of code to take an object and render a chart. Python is a popular language for data analysis in part because it has extremely robust libraries for data manipulation, visualization, machine learning, and a host of other applications.

Libraries are usually maintained by groups of contributors and made available online to anyone who wants to use them. This kind of collaboratively maintained software is often referred to as open source.

You need to import a library in order to access the things in it (like its objects and methods). To import a library, you usually have to download the code to the computer where Python is running, and then import it. **

In [0]:
import numpy as np # name of the library

In [0]:
population_values = list(city_population.values())
population_values

##Now that you have the list of values, you can take their mean (also known as the average) 
##using a method called .mean() from the NumPy library. First, you’ll assign the list of 
##population values—city_population.values()—a new variable name—population_values.

[13350000, 18550000, 8400000, 1837442]

In [0]:
city_population.values()

##As you can see, this produces the expected result—a perfect match 
##if we just run city_population.values() on its own

##It's good practice to create variables that refer to objects you'll need later. 
##Naming things will help you keep track of your work and will make your code much 
##more readable to others.

dict_values([13350000, 18550000, 8400000, 1837442])

In [0]:
print(np.mean(population_values))

10534360.5

## ***III. Aggregation and Grouping***

Aggregation is the process of turning the values of a dataset (or a subset of it) into one single value.

In [0]:
import numpy as np
import pandas as pd

In [0]:
zoo = pd.read_csv('http://46.101.230.157/datacoding101/zoo.csv', delimiter = ',')

Okay, let’s do five things with this data:

1.Let’s count the number of rows (the number of animals) in zoo!
2.Let’s calculate the total water_need of the animals!
3.Let’s find out which is the smallest water_need value!
4.And then the greatest water_need value!
5.And eventually the average water_need!

In [0]:
zoo.count()
##Counting the number of the animals is as easy as applying a count function on the zoo dataframe
##Actually, the .count() function counts the number of values in each column. In the case of the zoo 
##dataset, there were 3 columns, and each of them had 22 values in it.

animal        22
uniq_id       22
water_need    22
dtype: int64

In [0]:
zoo[['animal']].count()
##If you want to make your output clearer, you can select the animal column first 
##by using one of the selection operators from the previous article

animal    22
dtype: int64

In [0]:
zoo.animal.count()
##Or in this particular case, the result could be even nicer if you use this syntax

22

In [0]:
zoo.water_need.sum()
##you can easily sum the values in the water_need column

7650

In [0]:
zoo.sum()
##Note: I love how .sum() turns the words of the animal column into one string of animal names. 
##(By the way, it’s very much in line with the logic of Python.)

animal        elephantelephantelephanttigertigertigertigerti...
uniq_id                                                   22253
water_need                                                 7650
dtype: object

In [0]:
zoo.water_need.min()

80

In [0]:
zoo.water_need.max()

600

In [0]:
zoo.water_need.mean()

347.72727272727275

In [0]:
zoo.water_need.median()

325.0

In [0]:
zoo.groupby('animal').mean()
##it’s nice to know the mean water_need of all animals (we have just learned that it’s 347.72). 
##But very often it’s much more actionable to break this number down – let’s say – by animal types. 
##With that, we can compare the species to each other – or we can find outliers.

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [0]:
zoo.groupby('animal').mean()[['water_need']] ##This returns a DataFrame object.

##Just as before, pandas automatically runs the .mean() calculation for all remaining columns 
##(the animal column obviously disappeared, since that was the column we grouped by). You can 
##either ignore the uniq_id column, or you can remove it afterwards by using one of these syntaxes:

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

In [0]:
zoo.groupby('animal').mean().water_need ##This returns a Series object.

animal
elephant    550.000000
kangaroo    416.666667
lion        477.500000
tiger       310.000000
zebra       184.285714
Name: water_need, dtype: float64